body {
    margin-top: 1.2rem;
}

.navbar i {
    color: #fff;
}

.sidebar button {
    color: #fff;
}

.content button {
    color: #000;
}

.content {
    margin-left: 14rem;
}

.attendance-pagination .pagination .page-item.active .page-link {
    background-color: #d6a4de;
    color: #000;
    border-color: #000;
  }
  